@font-face {
    font-family: 'Alibaba-PuHuiTi-Regular';
    src: url('@/assets/fonts/Alibaba-PuHuiTi-R.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba-PuHuiTi-Light';
    src: url('@/assets/fonts/Alibaba-PuHuiTi-L.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alibaba-PuHuiTi-R';
    src: url('@/assets/fonts/Alibaba-PuHuiTi-R.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba-PuHuiTi-Bold';
    src: url('@/assets/fonts/Alibaba-PuHuiTi-B.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EarlySummerSerif-Bold';
    src: url('@/assets/fonts/EarlySummerSerif-Bold.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}