@import './base.css';

p{
    font-family: 'Alibaba-PuHuiTi-Regular', 'Alibaba-PuHuiTi-Light', sans-serif;
}
div{
    font-family: 'Alibaba-PuHuiTi-Regular', 'Alibaba-PuHuiTi-Light', sans-serif;
}
.lamp-item-wrap {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: relative;

    &:hover .lamp-item {
        animation-play-state: paused;
        transform: scale(1.2) !important;
        border: 3px solid #fff;
        transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    }

    .lamp-item-core {
        position: absolute;
        width: 26px;
        height: 26px;
        background-color: #fff;
        border-radius: 50%;
    }

    .lamp-item {
        position: absolute;
        width: 38px;
        height: 38px;
        border: 2px solid #fff;
        border-radius: 50%;
        animation: pulseOuter 2s infinite ease-in-out;
        transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    }
}
.popularization-wrapper{
    padding: 30px;
    border-radius: 40px;
    background: rgba(255,255,255,0.4);
    transform: scale(0.5);
    opacity: 0;
    position: relative;
    z-index: 2;
    left: 0;
    top: 0;
    .close{
        position: absolute;
        top: 0;
        right: 30px;
        color: #403321;
        font-size: 30px;
        opacity: 0.5;
        &:hover{
            opacity: 0.7;
            cursor: pointer;
        }
    }
    .title{
        font-size: 20px;
        color: #403321;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 2px solid #bea684;
        margin-bottom: 20px;
        span{
            margin-right: 10px;
        }
    }
    .popularization-content{
        font-size: 20px!important;
        color: #403321;
        line-height: 36px;

    }
}
/* 外圈缩放动画 */
@keyframes pulseOuter {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 0.6;
    }
}
.screen{
    position: relative;
    width: 1920px;
    height: 1080px;
}
@keyframes cloudFloat {
    0% { transform: translate(0, 0); }
    25% { transform: translate(50px, -10px) ; }
    50% { transform: translate(100px, 5px) ; }
    75% { transform: translate(150px, -15px); }
    100% { transform: translate(0, 0); }
}
@keyframes cloudSmallFloat {
    0% { transform: translate(0, 0); }
    25% { transform: translate(20px, -10px) ; }
    50% { transform: translate(40px, 5px) ; }
    75% { transform: translate(60px, -5px); }
    100% { transform: translate(0, 0); }
}